Semester 2/PRG2/scheduler
Semester 1/Einschätzungen
Semester 2/KIB1/Übung
**/*.aux
**/*.log
**/*.out
**/*.synctex.gz
**/*.synctex.gz.sum.synctex
**/*.toc
**/*.synctex(busy)
**/*.cpt
**/*.fdb_latexmk
**/.DS_Store
**/*.fls
**/*.xdv
**/.idea
**/*.pdf
**/*.zip
**/framework
**/NET1/Übung
**/[Tt]arget/
**/framework/
Review/
**/scheduler
**/music
**/*.mp3

Semester 2/DSA/Review/Review_1/target/music-player-1.0-SNAPSHOT.jar
Semester 2/KIB1/Übung/Übung_2/bsd24_hofer_andreas
Semester 2/PRG2/Projekt/scheduler
