Semester 2/PRG2/scheduler
Semester 1/Einschätzungen
**/*.aux
**/*.log
**/*.out
**/*.synctex.gz
**/*.synctex.gz.sum.synctex
**/*.toc
**/*.synctex(busy)
**/*.cpt
**/*.fdb_latexmk
**/.DS_Store
**/*.fls
**/*.xdv
**/.idea
**/*.pdf
**/framework
**/NET1/Übung
**/jscheduler
**/*.mp3
